body {
	/*overflow: hidden;*/
	font: 16px/24px "Droid Serif", Georgia, Times, serif;
	background: #fcfcfc;
	color: #444;
	width: 1000px;
}

#logo {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
}

.hint {
	background-color: #ff0;
	padding: 12px 16px 12px 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 14px;
	height: 100%;
}

.hint:hover {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: #f07d00;
}

a:hover {
	text-decoration: underline;
	color: #666;
}

li {
	list-style: none;
}

ul {
	padding-left: 12px;
}

#control-hldr {
	z-index: 100;
	height: 24px;
	position: absolute;
	width: 736px;
	background-color: #FCC95C;
	color: #fff;
	position: absolute;
	font-weight: bold;
}

.control {
	padding: 2px 8px 4px 76px;
	white-space: nowrap;
	font-size: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-ctrl {
	padding-right: 18px;
	float: right;
}

#search-panel {
	margin-top:20px;
}

#transcript-content span, #search-panel span {
	cursor: pointer;
}

#transcript-content span.transcript-grey:hover, #target-content span.transcript-grey:hover {
	color: #f9b72b; 
}

a img {border: none; }

#transcript-content span:hover, #search-panel span:hover  {  
	color: #f9b72b; 
}

#transcript-content span.highlight, #target-content span.highlight {  
	color: #fff; 
}

#transcript-content span.transcript-grey, #target-content span.transcript-grey {
	color: #888;
}

#transcript-content {
	top: 430px;
}

#target-content {
	top: 0px;
}

/* Generic pane rules */
body { margin: 0; -webkit-text-size-adjust: 100%; }
.page { left: 0; right: 0; top: 0; bottom: 0; }
.row, .col, .page { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-y { overflow-y: auto; -webkit-overflow-scrolling: touch; }
.fill, .pane { position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100% }
.pane { display: none; }


/* Workaround: in landscape mode, IEMobile makes bottom toolbar overlap the page, so shorten the page by 75px to compensate */
.iemobile .page { bottom: -6px; }
@media screen and (orientation:landscape) { .iemobile .page { bottom: 75px; } }

.header, .footer, .mini-footer {
    color: #444; background: #eee;
}
.header { font-size: 16px; }
.body, .pane { background: #fcfcfc; }
.right.col .body { padding: 0 0 0 16px; }
.middle.col .body { padding: 0 16px; }
.listview { padding-top: 16px; padding-left: 0px; margin: 0; font-weight: bold; color: #444; }
.listview li { 
	list-style-type: none; 
	background: #fcfcfc; 
	padding-left: 16px; 
	cursor: pointer; 
	font-size: 14px; 
}
.listview li.selected { background-color: #37F; color: White; }
.left, .header.row {
	font-family: 'Helvetica Neue', Arial, Sans-Serif;
	border-right: 1px solid #eee;
}


.header {
	font-size: 12px;
	font-weight: bold;
	padding-left: 16px;
}


/* Pane configuration */

.middle.col { width: 736px; }
.right.col { left: 736px; width: 262px; font-size: 15px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;line-height:20px;margin-bottom:0;}
.header.row { top: 48px; height: 30px; }
.body.row { top: 36px; bottom: 80px; }
.footer.row { height: 120px; bottom: 40px;}
.mini-footer { height: 30px; bottom: 50px;}
.credits { height: 50px; bottom: 0px; background-color: #fff;}



#corner-text {
	padding: 0 16px;
	font-size: 13px;
}


.media-hldr {
	position:absolute;
	top: 8px;
	padding: 16px 0 0 16px;
}

.right-panel {
	background-color: #eee;
	text-align: center;
	font-size: 13px;
	margin-bottom: 8px;
	position:relative;
}


.table-talk {
	width:100%;
	font-size: 13px;	
	cellpadding: 0;
	cellspacing: 0;
	border: 0;
}

.table-talk td {
	text-align: center;
}

#pie-talk {
	padding-bottom:8px;
}

#pie-chart {
	height:120px;
}

#pie-chart span {
	line-height:100px;
}

.table-bar td {
	text-align: center;
	width: 32px;
	padding-right:4px;
}
.table-bar td.table-pen-td {
	padding-right:0;
}
.table-bar td.table-last-td {
	width: 40px;
	padding-right:0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
}

.table-hldr {
	height:50px;font-size:12px;padding:0 0 0 16px;
}

.table-bar {
	width:720px;padding:0px;
}

.panel-title {
	background-color: #FCC95C;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	padding: 2px 0 2px 0;
	margin-top: 14px;
}

.share-snippet {
	padding: 8px;
	font-family: "Droid Serif", Georgia, Times, serif;
	font-style: italic;
	text-align: left;
	word-wrap:break-word;
}


#about {
	text-align: left;
	background-color: #fff;
	padding-top: 4px;
	padding-bottom: 0;
}

#chart {
	padding-left:16px;height:70px;width:720px;
}

#chart svg {
  font: 10px sans-serif;
}

#chart text.title {
  font: 300 78px Helvetica Neue;
  fill: #666;
  cursor: pointer;
}

#chart text {
	cursor: pointer;
}

#chart .rule line {
  stroke: #fff;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}

#chart rect {
	cursor: pointer;
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

#main-loader {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	padding-top: 90px;
	text-align: center;
}

#search-btn {
	padding: 4px 8px 4px 8px;
	margin-left: 16px;
}

.search-str {
	width:160px; 
	border:2px solid #666; 
	-webkit-box-shadow: 0 0 10px rgb(249, 183, 43); 
	-moz-box-shadow: 0 0 10px rgb(249, 183, 43); 
	font-size:14px;
	padding: 2px;
	color: #666;
	margin-top: -8px;
}

#transcript-inst {
	text-align: left;
	padding: 0 8px 0 8px;
}

.credits.row {
	text-align: left;
}

.logos a{
	padding-right: 8px;
}

.logos img {
	border: none;
	padding-top: 4px;
	padding-left:2px;
}

#tweet-like {
	padding-right: 8px;
	float: right;
}

#fb-link {
	display: block;
	float: right;
	padding: 1px 8px 0 0;
}

.social-hldr {
	width: 100%;
	overflow: hidden;
}

#sponsor {
	color: #fff;
	text-align: left;
	padding: 0 8px 0 16px;
	width: 300px;
	overflow:hidden;
	padding-top: 10px;
	float: right;
}

#sponsor div {
	width: 100px;
	float: left;
	padding-top: 4px;
}

#sponsor img {
	border: none;
	float: right;
	padding-right: 8px;
}

.fader {
	height: 16px;
	width: 720px;
	z-index: 999;	
	position: absolute;
}

#fade-top {
	background-image: url('../fadedown.png');
	top:430px;
}

#fade-bot {
	background-image: url('../fadeup.png');
	top:634px;
}

.content-org {
	padding-left: 46px;
}

.mini-footer {
	padding: 0 16px 0 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 28px;	
	text-align: right;
}

.thumb-hldr {
	padding-top: 8px;
	text-align: center;
	height: 130px;
	overflow: auto;
	margin-bottom: 12px;
}

.thumb-quote {
	font-style: italic;
	padding-bottom: 16px;
	margin: -4px 0 0 0;
}

.thumb-link {
	border: 0;
	padding-top: 8px;
}


#search-box {
	padding-bottom: 4px;
}

#recommended {
	margin-bottom: 4px;
}

#repWordsHldr {
	float: left;
	padding: 8px 8px 0 8px;
}

#demWordsHldr {
	float: right;
	padding: 8px 8px 0 8px;
}

.address-pie {
	float:right;
	margin:10px 4px 0 0;
	padding:1px
}

.address-info {
	position:absolute;
	top:50px;
	right:4px;
	font-size: 18px;
	font-weight: bold;
	margin-right: 0px;
}

.crnr-year {
	position:absolute;
	top:3px;
	right:0px;
	color:white;
	font-size: 12px;
	font-weight: bold;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */
}

.year-select {
	font-size: 11px;
	font-weight: bold;
}

.address-summary {
	cursor: pointer;
	width:100%;overflow:hidden;
}

.address-tags {
	width:180px;
	float:left;
}

.address-tags span {
	font-weight: bold;
}

.checkboxes {
	padding: 4px 0;
}

.search-form {
	padding: 6px 0;
}

.year-key {
	margin-left:4px;
}

.year-key-hldr {
	margin-top:38px;
}

.intro {
	position:absolute;
	top:0;
	left:0;
	width: 720px;
	height: 628px;
	padding:8px;
	background-color:#fcfcfc;
	border: 4px solid #fcfcfc;
	font-size:14px;
	overflow:hidden;
	color: #333;
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 20px;
	-webkit-border-radius: 4px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-top-left-radius: 0;
	z-index: 9999999;
}

#address-mask {
	position:absolute;
	top:0;
	right:0;
	width: 246px;
	height: 62px;
	padding:8px;
	background-color:#fcfcfc;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	z-index: 9999999;	
}